<style>
  @import url('https://rsms.me/inter/inter.css');

  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

  /* Terapkan font Inter ke seluruh elemen */
  *, body, h1, h2, h3, h4, h5, h6, button, input, textarea, select {
    font-family: inherit;
  }

  body {
    margin: auto;
    padding: 20px;
    max-width: 65ch;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #222;
  }

  p {
    margin: 1.5em 0;
  }

  a {
    color: #3273dc;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
    font-family: monospace;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px 0;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .header div {
    text-align: right;
    line-height: 2.5;
  }

  .header a {
    text-decoration: none;
  }

  .header h1 {
    font-weight: 200;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 8px;
  }

  .taxonomy-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .taxonomy-term {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #222;
      color: #ddd;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #eee;
    }

    a {
      color: #08f;
    }

    code {
      background-color: #333;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }
  }
</style>